body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.HeroBanner {
    background-color: #00acc1; 
    color: white;              
    padding: 60px 20px;      
    text-align: center;        
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    margin: 10px 0 0 0;
    font-weight: 300;
}

.BridgeSection {
    background-color: #ffffff; 
    padding: 80px 20px;       
    text-align: center;        

    display: flex;
    flex-direction: column;
    align-items: center;
}
.BridgeSection .content-wrapper {
    width: 100%;
    max-width: 800px;
}
.BridgeSection h3 {
    color: #006064;           
    font-size: 2rem;
    margin-bottom: 20px;
}

.BridgeSection p {
    color: #444;              
    font-size: 1.1rem;
    line-height: 1.8;       
}

.FeatureSection {
    background-color: #d5e5f0; 
    padding: 80px 20px;       
    text-align: center;        

    display: flex;
    flex-direction: column;
    align-items: center;
}
.FeatureSection .content-wrapper {
    width: 100%;
    max-width: 800px;
}
.FeatureSection h4 {
    color: #c74c56;           
    font-size: 2rem;
    margin-bottom: 20px;
}

.FeatureSection p {
    color: #672e2e;              
    font-size: 1.1rem;
    line-height: 1.8;       
}