body {
    background-color: #e0f7fa; /* A light teal color */
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #006064;
    margin-top: 50px;
}
h2 {
    color: #00acc1; 
    font-weight: 300; 
    font-size: 1.2rem; 
    margin-bottom: 20px;
}